# Web API
fastapi
uvicorn[standard]

# Banco de dados
sqlalchemy

# Templates HTML
jinja2

# Agendamento de tarefas
apscheduler

# Cliente HTTP
requests

# Validações (Pydantic V2)
pydantic
pydantic-core

# Selenium (opcional, automação do LinkedIn)
selenium

# Dotenv (para variáveis de ambiente)
python-dotenv

openai